/* Reset Styles */
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input,
button {
  outline: none;
}

/* Bacis Styles */
.main {
  padding: 8px 8px 50px;
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.todo-app {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.title {
  margin: 0;
  padding: 30px 0 10px;
  font-weight: 700;
  font-size: 15px;
  color: #333;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}

/* Buttons */
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

.list__delete-btn img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.list__delete-btn img:hover {
  transform: rotateZ(0);
}

/* Task */
.task,
.list__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task:focus {
  color: #333;
}

/* Task list */
.list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item > * {
  vertical-align: middle;
}

.list__check {
  margin: 0 10px;
}

.list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list__input {
  width: 226px;
}

/* Edit Task */
.list__input {
  display: none;
}

.list__item_edit .list__input {
  display: inline-block;
  width: 224px;
}

.list__item_edit .list__label {
  display: none;
}

/* Complite Task */
#completed-tasks .list__label {
  text-decoration: line-through;
  color: #888;
}

/* ------ Matrix section ------ */
.explain {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.explain__img {
  width: 100%;
}

.explain__link {
  font-family: fantasy, cursive;
}

/* ------ Create section ------ */
.add {
  display: flex;
  padding-top: 20px;
}

#new-task {
  width: 318px;
}

/* Media Queries */
@media (max-width:768px) {

  .explain {
    text-align: center;
  }

}